<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RecommendedAppsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PhotoOverlayActivity" />
        <activity android:name=".OpenActivity" />
        <activity
            android:name=".SaveActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddEditFavoritesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".CodeConverterActivity" />
        <activity android:name=".CodeConverterDetailsActivity" />
        <activity
            android:name=".ReaderActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name=".UserDictionaryProvider"
            android:authorities="net.studymongolian.chimee.user_dictionary"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.studymongolian.chimee.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".ChimeeInputMethodService"
            android:label="@string/keyboard_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

</manifest>